*{
    margin: 0;
    padding: 0;
}

body{
    background: url(imagen3.jpg);
    background-size: cover;
    background-attachment: fixed;
}
/*Contenedor*/
#contenedor{
    width: 1300px;
    height: 1500px;
}
#contenedor0{
    width: 1300px;
    height: 800px;
}
/*Header*/
#header{
    height: 10%;
    border-radius: 1em;
    margin: 1em;
    background: linear-gradient(30deg,darkorchid,black, darkorchid,darkorchid, black);
    color: black;
}

#cerr{
    height: 15%;

}

#LogoTienda{
    margin: 1em;
}

#buscar{
    font-size: x-large;
    width: 350px;
    height: 50px;
    position: relative;
    top: -70px;
    left: 5%;
    border-radius: 60px 5px 5px 60px;
}

#botonBusqueda{
    background-color: darkorchid;
    width: 60px;
    height: 53px;
    position: relative;
    top: -74px;
    left: 4.6%;
    border-radius: 5px 60px 60px 5px;
}

#botonBusqueda:hover{
    background-color: red;
}

#botonHeader, #botonHeader2{
    margin: 0.5em;
    float: right;
}

/*nav*/
#nav{
    height: 7%;
    margin: 1em;
}

#pestaña1, #pestaña2, #pestaña3, #pestaña4, #pestaña5, #pestaña6, #pestaña7{
    font-size: 30px;
    margin-top: 10px;
    margin-left: 100px;
    padding: 5px;
    display: inline-block;
}

#pestaña1:hover{
    background-color: white;
    border-radius: 1em;
}
#pestaña2:hover{
    background-color: white;
    border-radius: 1em;
}
#pestaña3:hover{
    background-color: white;
    border-radius: 1em;
}
#pestaña4:hover{
    background-color: white;
    border-radius: 1em;
}
#pestaña5:hover{
    background-color: white;
    border-radius: 1em;
}
#pestaña6:hover{
    background-color: white;
    border-radius: 1em;
}
#pestaña7:hover{
    background-color: white;
    border-radius: 1em;
}

/*Banner*/
#banner{
    height: 20%;
    margin: 1em;
}

#imagenbanner{
    height: 100%;
    width: 100%;
}

/*Contenido*/
#contenido{
    height: 45%;
    margin: 1em;
}

#contenedor0 #contenido111{
    height: 100%;
    width: 50%;
    margin: 0px auto;
    border-radius: 1em;
}


#section{
    height: 100%;
    width: 51%;
    float: left;
    margin: 0.5em;
}

#section #imagenPortada{
    margin-right: 50px;
    margin-left: 50px;
    width: 500px;
    height: 550px;
    border-style:  solid;
}
/*Aside*/
#aside{
    color: white;
    height: 100%;
    width: 45%;
    float: right;
    margin: 0.5em;
    border-radius: 1em;
    
}

#titulo{
    padding-top: 5%;
    margin-left: 25px;
}

.categori{
    padding-top: 5%;
    margin-left: 25px;
    display: inline-block;
}

#precio{
    padding-top: 5%;
    margin-left: 25px;
}

#año{
    padding-top: 5%;
    margin-left: 25px;
}

#descripcion{
    padding-top: 5%;
    margin-left: 25px;
}

#biblioteca{
    margin-top: 5%;
    margin-left: 25px;
    height: 35px;
    width: 250px;
    background-color: crimson;
    border-radius: 1em;
}

/*footer*/
#footer{
    background-color: white;
    margin: 1em;
}

#comentarios{
    color: white;
    margin-top: 25px;
    margin-left: 60px;
    width: 40%;
    float: left;
}

#agregarComentarios{
    width: 40%;
    margin-top: 25px;
    margin-right: 80px;
    margin-bottom: 25px;
    float: right;
}

.parrafoComentario{
    margin-top: 20px;
}

#areaDeTexto{
    font-size: large;
}

#botonAgregarComentarios{
    border-radius: 1em;
    width: 100px;
    height: 25px;
    background-color: crimson;
}

#contenido #crud{
    height: 140%;
    width: 50%;
    position: relative;
    top: 10%;
    margin: 0px auto;
}

#contenido #crud #boton1{
    background-color: lightslategray;
    font-size: x-large;
    height: 70px;
    width: 300px;
    margin: 1em;
    padding: 1em;
    margin-left: 26%;
}
#contenido #crud #boton2{
    background-color: lightslategray;
    font-size: x-large;
    height: 70px;
    width: 300px;
    margin: 1em;
    padding: 1em;
    margin-left: 26%;
}
#contenido #crud #boton3{
    background-color: lightslategray;
    font-size: x-large;
    height: 70px;
    width: 300px;
    margin: 1em;
    padding: 1em;
    margin-left: 26%;
}
#contenido #crud #boton4{
    background-color: lightslategray;
    font-size: x-large;
    height: 70px;
    width: 300px;
    margin: 1em;
    padding: 1em;
    margin-left: 26%;
}

#contenido #crud #boton1:hover{
    background-color: red;
}
#contenido #crud #boton2:hover{
    background-color: red;
}
#contenido #crud #boton3:hover{
    background-color: red;
}
#contenido #crud #boton4:hover{
    background-color: red;
}

.inputs-crear{
    position: relative;
    left: 190px;
    height: 25px;
    width: 200px;
    margin: 1em;
}

.botones-ver{
    position: relative;
    left: 80px;
    height: 50px;
    width: 200px;
    margin: 1.5em;
}
.botones-ver:hover{
    background-color: red;
}

#contenedor50{
    height: 800px;
}

#contenido50{
    height: 50%;
}

#section50{
    width: 45%;
    height: 90%;
    float: left;
    margin: 1em;
}

#aside50{
    width: 45%;
    height: 90%;
    float: right;
    margin: 1em;
}

.inpuh{
    position: relative;
    left: 130px;
    margin: 1.5em;
    height: 30px;
    font-size: 20px;
}